<!-- <ion-header>
  <ion-toolbar>
    <ion-title>createVoucher-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="text" [(ngModel)]="bank" placeholder="Banco">
  <input type="text" [(ngModel)]="reference" placeholder="Referencia">
  <input type="text" [(ngModel)]="amount" placeholder="Monto">
  <input type="text" [(ngModel)]="comment" placeholder="Comentario">
  <ion-button (click)="addVoucher()" color="primary">AGREGAR PAGO</ion-button>
</ion-content>
 -->

 <ion-header>
    <ion-toolbar class="headerColor">
    </ion-toolbar>
  </ion-header>
  <body>
      <div class="grid fondo-1">
        <div class="item0"></div>
        <div class="container-header fondo-2 h-150">
          <div class="grid-header mt-15">
              <div class="item-header1 center-flex pt-10 pb-10"><img class="w-90 m-h-50" src="assets/pay.svg"></div>
              <div class="item-header2 center-flex fontW-600 font-size-2em pt-10 pb-10"><span class="font-color-gray">Pago</span></div>
          </div>
        </div>
        <div class="container">
          <div class="panel">
            <div class="header"></div>
              <div class="selectLabel-panel center-flex ">
                  <span class="font-color-white">Banco:</span>
                </div>
            <div class="select-panel">
                <input class="inputCustom bb-gray" type="text"  [(ngModel)]="bank">
            </div>
            <div class="inputLabel-panel center-flex ">
                <span class="font-color-white">Referencia:</span>
              </div>
          <div class="input-panel">
            <input class="inputCustom bb-gray" type="text" [(ngModel)]="reference">
          </div>
          <div class="amountLabel-panel center-flex">
              <span class="font-color-white ">Monto:</span>
            </div>
        <div class="amount-panel d-flex ai-center jc-center">
            <input class="inputCustom bb-gray" type="number" [(ngModel)]="amount">
        </div>
        <div class="commetLabel-panel ">
            <span class="font-color-white ">Comentario:</span>
        </div>
        <div class="inputCommet-panel">
          <textarea class="w-100"  cols="10" rows="5" [(ngModel)]="comment"></textarea>
        </div>
        <div class="footer"></div>

  
        <div class="button1 mt-20px center-flex btn-red cursor" (click)="closeModal()">
            <span>Cancelar</span>
  
        </div> 
        <div class="button2 mt-20px center-flex btn-green cursor" (click)="addVoucher()">
            <span>Agregar</span>
  
        </div>
          </div>
          </div>
        </div>
        <div class="itemx"></div>
  </body>
  