<!-- <ion-header>
    <ion-toolbar class="headerColor">
      <ion-buttons (click)="goToHomePage ()">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <body>
      <div class="grid fondo-1">
        <div class="item0"></div>
        <div class="container-header fondo-2 h-150">
          <div class="grid-header mt-15">
              <div class="item-header1 center-flex pt-10 pb-10"><img  class="icon-header" src="assets/history.svg"></div>
              <div class="item-header2 center-flex fontW-600 font-size-1em pt-10 pb-10"><span class="font-color-gray">Historial de pedidos</span></div>
          </div>
        </div>
        <div class="container-orders">
          <div class="grid-orders">
            <div class="order-header">
                <div class="order-header-order center-flex">Orden</div>
                <div class="order-header-time text-aling-center">Fecha</div>
                <div class="order-header-status text-aling-center">Estado</div>
            </div>

            <div class="order" *ngFor="let order of Orders; index as i"  (click)="openModal(order.details, order.order, order)">
                <div class="order-order center-flex">{{order.order}}</div>
                <div class="order-time center-flex">{{order.created_at |  date:"dd/MM/yy"}}</div>
                <div class="order-status center-flex status" [ngClass]="{'status-green': order.status == 'accepted', 'status-orange': order.status == 'pending', 'status-': false}">{{order.status}}</div>
                <button *ngIf="order.status == 'pending'" (click)="cancel(order.order, i);$event.stopPropagation()" style="background-color: red" >Cancelar</button>
              </div>
          </div>
        </div>
        <div class="itemx"></div>
      </div>


     
  </body>
 -->



 <ion-header>
    <ion-toolbar class="headerColor">
      <ion-buttons (click)="goToHomePage()">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <body>
      <div class="grid fondo-1">
        <div class="container-header fondo-2 h-150">
          <div class="grid-header mt-15">
              <div class="item-header1 center-flex pt-10 pb-10"><img  class="icon-header" src="assets/history.svg"></div>
              <div class="item-header2 center-flex fontW-600 font-size-1em pt-10 pb-10"><span class="font-color-gray">Historial de pedidos</span></div>
          </div>
        </div>
        <div class="container"  >
          <div class="header">
            <div class="header-marginHL"></div>
        <div class="header-productH text-aling-center"><b>Orden</b></div>
        <div class="header-priceH text-aling-center"> <b>Fecha</b></div>
        <div class="header-totalH text-aling-center"> <b>Estado</b></div>
          </div>
          
          <div class="ticket-order cursor" *ngFor="let order of Orders; index as i"  (click)="openModal(order.details, order.order, order)">
            <div class="ticket-deleteT center-flex" *ngIf="order.status == 'pending'"></div>
              <div class="ticket-product text-aling-center">
                  {{order.order}}
              </div>
              <div class="ticket-priceP center-flex"><span class="font-size-0-7em">{{order.created_at |  date:"dd/MM/yy"}}</span></div>
              <div class="ticket-totalP center-flex" [ngClass]="{'status-green': order.status == 'accepted', 'status-orange': order.status == 'pending', 'status-': false}" >
                 <span> {{order.status}}</span> 
              </div>
       
            </div>
            <div class="footer">
            </div>
   <!--        <div class="button btn-green center-flex cursor" (click)="confirm()"> <b>Confirmar</b> </div> -->
        </div>

   <!--      <div class="container-alert" *ngIf="order.length == 0">
            <div class="alert-iconA center-flex"> <img class="not-found" src="assets/not_fount.svg"></div>
            <div class="alert-textA  center-flex "> <span ><b class="font-color-gray font-size-1.5em">Sin historiial.</b></span> </div>
        </div> -->
      </div>

      


     
  </body>
