<ion-header >
  <ion-toolbar class="headerColor">
    <ion-buttons (click)="goToSplashPage()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<body>
  <div class="grid fondo-1">
      <div class="item0"></div>
      <div class="item1">
        <img class="logo-s" src="assets/logo.svg">
      </div>
      <div class="item2">
        <div class="item2-1">
          <img class="icon iconPosition" src="assets/mail.svg">
        </div>
        <div class="item2-2">
          <div class="container">
            <div class="group">      
              <input class="inputMail" type="mail" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Correo</label>
            </div>
          </div>
        </div>
      </div>
      <div class="item3"><hr></div>  
      <div class="item4">
        <div class="item4-1">
          <img class="icon iconPosition" src="assets/lock.svg">
        </div>
        <div class="item4-2">
          <div class="container">
            <div class="group">      
              <input class="inputPassword" type="password" required>
              <span class="highlight"></span>
              <span class="bar barPassword"></span>
              <label>Contraseña</label>
            </div>
          </div>
        </div>
      </div>
      <div class="item5 mt-m">
        <button class="btn btn-white">ENTRAR</button>
      </div>
      <div class="item6">
        <a (click)="goToSignInPage()">Crear Cuenta</a>
      </div>
      <div class="item7">
        <a (click)="goToForgotPassPage()">¿Olvidó su contraseña?</a> 
      </div>
      <div class="item8"></div>
      <div class="item9"></div>
    </div>  
</body>
