  <body>  
    <div class="grid fondo-1">
      <div class="item0"></div>
      <div class="item1"> 
        <img class="logo-s" src="../../assets/logo.svg">
      </div>
      <div class="itemp0 fontW-400 center-flex">
        <span>Ingrese su nueva contraseña.</span>
      </div>
      <div class="item2">
        <div class="grid-form">
          <div class="form-item1 bb center-flex"> 
            <img class="icon iconPosition" src="assets/lock.svg">
          </div>
          <div class="form-item2 bb center-flex">
              <div class="container">
                <div class="group">      
                  <input class="inputMail" type="text" required>
                  <span class="highlight"></span>
                  <span class="bar barMail"></span>
                  <label>Nueva Contraseña</label>
                </div>
              </div>
          </div>
          <div class="form-item3 bb center-flex"> 
              <img class="icon iconPosition" src="assets/lock.svg">
            </div>
            <div class="form-item4 bb center-flex">
                <div class="container">
                  <div class="group">      
                    <input class="inputMail" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar barMail"></span>
                    <label>Repita contraseña</label>
                  </div>
                </div>
            </div>
            <div class="form-item7 center-flex ">
              <button (click)="test()" class="btn btn-white btn-xl h-100">Restablecer contraseña</button>
            </div>
        </div>
      </div>
      <div class="item4"></div>
    </div>
    