@import '../../global.scss';
$fondo-color: #15151570;
$text-color: #b9b4b4a3;
.grid {
  display: grid;
  grid-template-columns: 10% 6fr 6fr 10%;
  grid-template-rows: 25% auto;
  grid-template-areas: 
    "header    header    header     header"
    "marginL    products  products   marginR";
}
.grid-header {
  display: grid;
  grid-template-columns:10% 20% 60% 10%;
  grid-template-rows: auto; 
  grid-template-areas: 
    "marginHL icon categorie marginHR";
}
.order-header {
    background: $gray-index;
    border-radius: 4%;
    display: grid;
    grid-template-columns: 20% 30% 20% 30%;
    padding: 5px;
    font-size: 0.8em;
    grid-template-areas:
        "headerOrder headerTime  headerStatus headerStatus";
    
}
.order-header-order { grid-area: headerOrder;}
.order-header-time { grid-area: headerTime;}
.order-header-status { grid-area: headerStatus;}

.grid-orders {
  display: grid;
  grid-template-columns: 12fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-rows: auto; 
}
.order {
  background: $gray-fondo;
  max-height: 150px;
  border-radius: 4%;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 35% 15% 30%;
  grid-template-rows: auto;
  grid-template-areas:
    "order time status status";

}
.item0 {grid-area: marginL; grid-row: 1 / -1 ;} // marginL
.itemx {grid-area: marginR; grid-row: 1 / -1 ;} //marginR

.container-header { grid-area: header;}
.container-product { grid-area: product;}


.item-header1 {grid-area: icon; background: $gray-fondo; border-radius: 4%;}
.item-header2 { grid-area: categorie; background: $gray-fondo; border-radius: 4%;}

.container-orders { grid-area: products;}
.order-order { grid-area: order;}
.order-time { grid-area: time;}
.order-status {grid-area: status;}






.status{
  width: 80%;
  border-radius: 4px;
  color: #fff;
}
.status-green {
  background: green;
}
.status-orange {
  background: orange;
}