@import '../../global.scss';
.item1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.iconPosition{
    margin-top: 10px;
}
.container { 
    padding: 10px 20px 0 0;
}
.container .group { 
    position:relative; 
}
.inputMail{
    font-size:18px;
    padding:10px 10px 10px 0px;
    display:block;
    width:100%;
    border:none;
    background: transparent;
    /* border-bottom: solid 2px $ColorInput; */
}
.inputMail:focus{
    outline:none;
}
label{
    color: $ColorInput; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
}
.inputMail:focus ~ label, .inputMail:valid ~ label{
    top:-10px;
    font-size:14px;
    color: $colorLine;
}
.bar{
    position:relative; 
    display:block;
    width:100%; 
}  
.barMail:before, .barMail:after{
    content:'';
    height:2px; 
    width:0;
    bottom:0px; 
    position:absolute;
    background:$colorLine;
    transition:0.2s ease all; 
    top:10%;
}
.bar:before {
    left:9%;
    /* background: red; */
}
.bar:after {
    right:21.5%; 
    /* background: purple; */
}
.inputMail:focus ~ .bar:before, .inputMail:focus ~ .bar:after,
.inputPassword:focus ~ .bar:before, .inputPassword:focus ~ .bar:after {
    width:100%;
}
.highlight {
    position:absolute;
    height:60%; 
    width:50%; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.2;
}
.inputMail:focus ~ .highlight,
.inputPassword:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
    from { background-color:$colorLine; }
    to 	{ width:0; background:transparent; }
}
//SOLO GRID
.grid{
    display: grid;
    grid-template-columns: 10% 11fr 10%;
    grid-template-rows: 25vh repeat(5, auto);
    grid-template-areas: 
        'marginL logo marginR'
        'marginL info marginR'
        'marginL form marginR'; 
}
.grid-form{
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 50px 83.5%;
    grid-template-areas:
        'mailIcon mailInput'
        'alert1 alert1'
        'questionIcon questionInput'
        'answerIcon answerInput'
        'alert2 alert2'
        'testIcon testInput'
        'alert3 alert3'
        'button button';
}

.item0 { grid-area: marginL;}
.item1 { grid-area: logo;}
.itemp { grid-area: info; border: solid 1px red;}
.item2 { grid-area: form;}
    .form-item1 { grid-area: mailIcon;}
    .form-item2 { grid-area: mailInput;}
    .alert1 { grid-area: alert1; padding-top: 15px;}
    .form-item3 { grid-area: questionIcon;}
    .form-item4 { grid-area: questionInput;}
    .form-item5 { grid-area: answerIcon;}
    .form-item6 { grid-area: answerInput;}
    .alert2 { grid-area: alert1; padding-top: 15px;}
    .form-item8 { grid-area: testIcon;}
    .form-item9 { grid-area: testInput;}
    .alert3 { grid-area: alert1; padding-top: 15px;}
    .form-item7 {grid-area: button; margin-top:20px;}
.alert1,
.alert2,
.alert3 {
    display: grid;
    grid-template-columns: 50px 83.5%;
    grid-template-areas:
        'IconError1 textError1';
}

.item4 { grid-area: marginR;}


.bb {
    border-bottom: solid 2px $ColorInput;
}


.w-100 {
    width: 100%;
    height: 10px;
}



.selectStyle{
    border: none;
    height: 30px;
    background: transparent;
}
.h-20{
    height: 50px;
}

.info-center {
    text-align: center;
    display: flex;
    justify-content: flex-start;
}