/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$wallpaper: " '/../assets/fondo.png' ";
$wallpaper-header: " '/../assets/fondoHeader.png' ";
$alert1: "'/../assets/alert1.jpg'";

$fontColor: #fff;
$ColorInput:#999;
$colorLine:rgba(226, 193, 6, 0.87);
$gray-fondo: #393838d4;
$gray-index: #7b7878a8; 
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
    color: $fontColor;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.fondo-1{
    position: relative;
    background: url(#{$wallpaper}) 100% center no-repeat;
    height: 100%;
    background-size: cover ;
    position: relative ;
    border: none ;
}
.fondo-2{
    position: relative;
    background: url(#{$wallpaper-header}) 100% center no-repeat;
    height: 100%;
    background-size: cover ;
    position: relative ;
    border: none ;
}
.logo-s{
    max-width: 120px;
    height: 150px;
}
.logo-m{
    width: 350px;
    height: 165px; 
}
.icon{
    max-width: 20px;
    height: auto;
}
.iconSmall{
    max-width: 15px;
    height: auto;
}
.icon-header{
    max-width: 50px;
    height: auto;
}
.icon-header2{
    max-width: 40px;
    height: auto;
}
.btn{
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-green{
    color: #212529;
    background: #62ad4c;
    border-color: #62ad4c;
}
.btn-green:hover,
.btn-green:focus{
    color:#000;
    background: #62ad4c;
    border-color: #62ad4c;
}
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}
.btn-red{
    color: #212529;
    background: #ff0000;
    border-color:#ff0000;
}
.btn-red:hover,
.btn-red:focus{
    color:#000;
    background: #b30404;
    border-color: #b30404;
}
.btn-white{
    font-weight: 400;
    width:50%;
    color:#000;
    background: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-white:hover,
.btn-white:focus{
    color: #fff;
    background: #9fa1a4;
    border-color: #dae0e5;
}
.btn-xl{
    width: 100%;
    height: 70%;
}
.btn-block { width: 100%;}
.mt-m {
    margin-top: 30px;
}
.mt-xl {
    margin-top: 60px;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.start-flex{
    display: flex;
    justify-content: start;
    align-items: center;
}

.fontW-400{
    font-weight: 400;
}
.fontW-600{
    font-weight: 600;
}


.error{
    color: red;
    font-weight: 600;
    font-size: 12px;
}

.headerColor{
    --background: #00000021;
}
.right-flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left-flex{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.w-100  { width: 100%;}
.w-90   { width: 90%;}
.w-80   { width: 80%;}
.w-50   { width: 50%;}

.active { color: $colorLine !important }

.h-100  { height: 100px;}
.h-60px { height: 60px;}
.h-150  { height: 150px;}

  

.mt-15 { margin-top: 15%;}
.ml-10 { margin-left: 10%;}
.ml-25px { margin-left: 25px;}
.ml-10px { margin-left: 10px;}
.mb-2 { margin-bottom: 2%;}
.font-size-2em  { font-size: 2em;}
.font-size-0-7em  { font-size: 0.7em;}
.font-size-1-2em { font-size: 1.2em;}
.font-size-1em { font-size: 1em;}
.font-size-1-5em { font-size: 1.5em;}


.pt-10 { padding-top: 10%;}
.pl-10px {padding-left: 10px;}
.pb-10 { padding-bottom: 10%; }

.position {
    padding-top: 10%;
    padding-bottom: 20%;
    display: inline-grid;
    text-align: center;
  }
.text-aling-right { text-align: right; }
.text-aling-center  { text-align: center;}

.cursor {
    cursor: pointer;
}




// alerta product
.alert-wrapper {
    position: relative;
    background: url(#{$alert1}) 100% center no-repeat;
    background-size: cover ;
    position: relative ;
    border: none ;


}
.alert-title{
    color: $fontColor !important;
}
.alert-message {
    text-align: start;
    font-size: 15px;
    color: $fontColor;
}
.alert-button-group{
    background: #ffffff63 !important;
}
.button-cancel span
{
  color: red !important;
  font-weight: 400; 
  text-shadow: 1px 2px #000000e6;

}
.button-success span
{
    font-weight: 400; 
    color: green !important;
    text-shadow: 1px 2px #000000e6;
}

.details{
   color: $fontColor;
   font-size: 15px;
   font-weight: 600;
}
.price1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.price2 {
    font-weight: 600;
}
.gordito {
    font-weight: 400; 
    color: rgb(233, 48, 250) !important;
    text-shadow: 1px 2px #000000e6;

}
.m-h-50{
    max-height: 50px; 
}


input:required{
    border: 0px
}

.font-size07{
    font-size: 0.7em;
}

.pr { position: relative;}
.pa { position: absolute; }

.font-color-white { color: white;}
.font-color-gray { color: #b9b4b4a3 !important;  }



.font-size-1em {font-size: 1em;}
.mt-20px { margin-top: 20px;}
.d-flex {display: flex;}
.ai-center { align-items: center;}
.jc-end { justify-content: flex-end; }
.jc-center { justify-content: center; }
.jc-space-between { justify-content: space-between; }

.not-found {
    width: 100%;
    height: 100px;
}

.hide {display:none!important}










.alert {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'iconA iconA iconA' 'textA textA textA';
  }
  
  .alert-iconA{ grid-area: iconA;}
  .alert-textA{ grid-area: textA; margin-top: 20px;}
  
  