@import '../../global.scss';
$fondo-color: #15151570;
$text-color: #b9b4b4a3;
.grid {
  display: grid;
  grid-template-columns: 10% 6fr 6fr 10%;
  grid-template-rows: 25% auto;
  grid-template-areas: 
    "header    header    header     header"
    "marginL    container  container   marginR";
  }
.grid-header {
  display: grid;
  grid-template-columns:10% 20% 60% 10%;
  grid-template-rows: auto; 
  grid-template-areas: 
    "marginHL icon categorie marginHR";
}/* 
.ticket-header {
    background: $gray-index;
    border-radius: 4%;
    display: grid;
    grid-template-columns: 6% 30% 25% 14% 25%;
    padding: 5px;
    font-size: 0.8em;
    grid-template-areas:
        "ticketImage ticketTitle  ticketPrice   ticketAmount ticketTotal ticketDelete";
    
} */
/* .ticket-header-image { grid-area: ticketImage;}
.ticket-header-title { grid-area: ticketTitle;}
.ticket-header-price { grid-area: ticketPrice;}
.ticket-header-amount { grid-area: ticketAmount;}
.ticket-header-total {grid-area: ticketTotal;}
.ticket-header-delete { grid-area: ticketDelete} */

/* .grid-total {
    border-radius: 4%;
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    grid-row-gap: 15px;
    grid-template-areas:
        "empty  empty   empty   text    total    "
        "empty2  delete   delete  button  button ";
} */
/* .total-text { grid-area: text; background: $gray-index;}
.total-total { grid-area: total; background: $gray-index;}
.total-button { grid-area: button;}
.total-delete { grid-area: delete;}
.actionLabel { grid-area: action;}
.action { grid-area: actionbutton;}
.grid-products {
  display: grid;
  grid-template-columns: 12fr;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-rows: auto; 
} */
/* .product {
  background: $gray-fondo;
  max-height: 150px;
  border-radius: 4%;
  padding: 10px;
  display: grid;
  grid-template-columns: 10% 30% 25% 10% 25% 10%;
  grid-template-rows: auto;
  grid-template-areas:
  "image title  price   amount total deleteB";

} */
.item0 {grid-area: marginL; grid-row: 1 / -1 ;} // marginL
.itemx {grid-area: marginR; grid-row: 1 / -1 ;} //marginR

.container-header { grid-area: header;}
.container-product { grid-area: product;} 


.item-header1 {grid-area: icon; background: $gray-fondo; border-radius: 4%;}
.item-header2 { grid-area: categorie; background: $gray-fondo; border-radius: 4%;}

/* 
.product-image { grid-area: image;}
.product-title { grid-area: title;}
.product-price { grid-area: price;}

.product-amount { grid-area: amount;}
.product-delte {grid-area: deleteb;}
.product-total {grid-area: total;}

 */




.small {
  width: 19px;
  height: 19px;
}










.container { grid-area: container;}





.header-new{
  display: grid;
  grid-template-columns: 1% 48% 25% 25% 1%;
  grid-template-rows: 25% auto;
  grid-template-areas: 'marginHL productH priceH totalH marginHR';

}
.header-marginHL { grid-area: marginHL;}
.header-productH{ grid-area: productH; border: solid 2px red;}
.header-priceH{ grid-area: priceH; border: solid 2px green; }
.header-totalH{ grid-area: totalH;border: solid 2px blue; }
.header-marginHL { grid-area: marginHR;}