<ion-header>
    <ion-toolbar class="headerColor">
      <ion-buttons (click)="goToHomePage()">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <body>
    <div class="grid fondo-1">
      <div class="container-header fondo-2 h-150">
        <div class="grid-header mt-15">
          <div class="item-header1 center-flex pt-10 pb-10"><img  class="icon-header" src="assets/order.svg"></div>
          <div class="item-header2 center-flex fontW-600 font-size-2em pt-10 pb-10"><span class="font-color-gray">Mi Pedido</span></div>
        </div>
      </div>
      <div class="container" *ngIf="details.length > 0">
        <div class="header">
          <div class="header-marginHL"></div>
          <div class="header-productH text-aling-center"><b>Producto</b></div>
          <div class="header-priceH text-aling-center"> <b>Precio</b></div>
          <div class="header-totalH text-aling-center"> <b>Total</b></div>
        </div>
        <div class="ticket-order" *ngFor="let item of details; index as i;">
          <div class="ticket-categorie start-flex"> <img class="small" [src]="item.image"> <span class="font-size-1em pl-10px">{{ item.name }}</span></div>
          <div class="test area-body" *ngFor="let product of item.product; index as j;">
            <div class="ticket-delete center-flex">
              <img (click)="delete(i)" class="small cursor" src="assets/minus.svg">
            </div>
            <div class="ticket-product text-aling-center">
              {{product.name}} <small>({{product.quantity}})</small>
              <div class=""><small> ({{product.labels[product.size]}})</small></div>
            </div>
            <div class="ticket-priceP center-flex"><span class="font-size-0-7em">{{product.prices[product.size]}}</span></div>
            <div class="ticket-totalP center-flex"><span class="font-size-0-7em">{{product.quantity * product.prices[product.size]}}</span></div>
          </div>

        </div>


        <div class="footer">
          <div class="footer-emptyP center-flex cursor" (click)="cancelAll()">
            <span>Cancelar</span>
          </div>
          <div class="footer-textF d-flex jc-end ai-center">Total:</div>
          <div class="footer-totalF d-flex ai-center jc-center">{{ total }}</div>
        </div>
        <div class="button btn-green center-flex cursor" (click)="confirm()"> <b>Confirmar</b> </div>
      </div>

      <div class="container-alert" *ngIf="details.length == 0">
          <div class="alert-iconA center-flex"> <img class="not-found" src="assets/not_fount.svg"></div>
          <div class="alert-textA  center-flex "> <span ><b class="font-color-gray font-size-1.5em">Sin pedidos pendientes.</b></span> </div>
      </div>
    </div>
  </body>
