<ion-header>
    <ion-toolbar class="headerColor">
      <ion-buttons>
        <ion-button (click)="goToLoginPage()">
          <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<body>  
  <div class="grid fondo-1">
    <div class="item0"></div>
    <div class="item1"> <img class="logo-s" src="../../assets/logo.svg"> </div>
    <div class="item2">
      <div class="grid-form">
        <div class="form-item1 bb center-flex"> 
          <img class="icon iconPosition" src="../../assets/user.svg">
        </div>
        <div class="form-item2 bb center-flex">
            <div class="container">
              <div class="group">      
                <input class="inputMail" type="text" required>
                <span class="highlight"></span>
                <span class="bar barMail"></span>
                <label>Nombre</label>
              </div>
            </div>
        </div>
        <div class="form-item3 bb center-flex"> 
            <img class="icon iconPosition" src="../../assets/mail.svg">
          </div>
          <div class="form-item4 bb center-flex">
              <div class="container">
                <div class="group">      
                  <input class="inputMail" type="text" required>
                  <span class="highlight"></span>
                  <span class="bar barMail"></span>
                  <label>Correo</label>
                </div>
              </div>
          </div>
          <div class="form-item5 bb center-flex"> 
              <img class="icon iconPosition" src="../../assets/lock.svg">
            </div>
            <div class="form-item6 bb center-flex">
                <div class="container">
                  <div class="group">      
                    <input class="inputMail" type="text" required>
                    <span class="highlight"></span>
                    <span class="bar barMail"></span>
                    <label>Contraseña</label>
                  </div>
                </div>
            </div>
            <div class="form-item7 bb center-flex"> 
                <img class="icon iconPosition" src="../../assets/lock.svg">
              </div>
              <div class="form-item8 bb center-flex">
                  <div class="container">
                    <div class="group">      
                      <input class="inputMail" type="text" required>
                      <span class="highlight"></span>
                      <span class="bar barMail"></span>
                      <label>Repetir Contraseña</label>
                    </div>
                  </div>
              </div>
              <div class="form-item9 center-flex">
                  <button class="btn btn-white">Registrarse</button>
              </div>
      </div>
    </div>

    <div class="item4"></div>
  </div>
  