<ion-header>
    <ion-toolbar class="headerColor">
      <ion-buttons>
        <ion-button (click)="goToLoginPage()">
          <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<body>  
  <div class="grid fondo-1">
    <div class="item0"></div>
    <div class="item1"> <img class="logo-s" src="assets/logo.svg"> </div>
    <div class="item2">
      <form class="grid-form" [formGroup]="myform" (ngSubmit)="addUser()">
        <div class="form-item1 bb center-flex"> 
          <img class="icon iconPosition" src="assets/user.svg">
        </div>
        <div class="form-item2 bb center-flex">
          <div class="container">
            <div class="group">      
              <input  class="inputMail" type="text" formControlName="name" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Nombre</label>
            </div>
          </div>
        </div>
        <div class="alert1 pr" *ngIf="name.invalid && (name.dirty || name.touched || submitted)">
            <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
            <div class="textError1 left-flex pa" >
              <span *ngIf="name.errors.required"><small>Nombre requerido.</small></span> 
            </div>
        </div>
        
        <div class="form-item3 bb center-flex"> 
            <img class="icon iconPosition" src="assets/mail.svg">
        </div>
        <div class="form-item4 bb center-flex">
          <div class="container">
            <div class="group">      
              <input  class="inputMail" type="text" formControlName="email" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Correo</label>
            </div>
          </div>
        </div>
        <div class="alert2 pr" *ngIf="email.invalid && (email.dirty || email.touched || submitted)">
            <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
            <div class="textError1 left-flex pa" >
              <span *ngIf="email.errors.required"><small>Correo requerido.</small></span> 
              <span *ngIf="email.errors.email"><small>Correo invalido.</small></span> 
            </div>
        </div>
        <div class="form-item5 bb center-flex"> 
          <img class="icon iconPosition" src="assets/lock.svg">
        </div>
        <div class="form-item6 bb center-flex">
          <div class="container">
            <div class="group">      
              <input  class="inputMail" type="password" formControlName="password" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Contraseña</label>
            </div>
          </div>
        </div>
        <div class="alert3 pr" *ngIf="password.invalid && (password.dirty || password.touched || submitted)">
            <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
            <div class="textError1 left-flex pa" >
              <span *ngIf="password.errors.required"><small>Contraseña requerida.</small></span> 
            </div>
        </div>

        <div class="form-item7 bb center-flex"> 
          <img class="icon iconPosition" src="assets/lock.svg">
        </div>
        <div class="form-item8 bb center-flex">
          <div class="container">
            <div class="group">      
              <input  class="inputMail" type="password" formControlName="c_password" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Confirme Contraseña</label>
            </div>
          </div>
        </div>
        <div class="alert4 pr" *ngIf="c_password.invalid && (c_password.dirty || c_password.touched || submitted)">
            <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
            <div class="textError1 left-flex pa" >
              <span *ngIf="c_password.errors.required"><small>Confirmacion de contraseña requerida.</small></span> 
              <span *ngIf="myform.errors?.notSame && !c_password.invalid && (c_password.dirty || c_password.touched || submitted)">password no coincide</span>
            </div>
        </div>
        <div class="alert4 pr" *ngIf="myform.errors?.notSame && !c_password.invalid && (c_password.dirty || c_password.touched || submitted)">
          <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
          <div class="textError1 left-flex pa" >
            <span><small>Las contraseña no coinciden.</small></span> 
          </div>
      </div>


        
        <div class="form-ext-item9 bb center-flex"> 
          <img class="icon iconPosition" src="assets/question.svg">
        </div>
        <div class="form-item10 bb center-flex">
          <div class="container">
            <div class="group">      
              <input  class="inputMail" type="text" formControlName="question" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Pregunta secreta</label>
            </div>
          </div>
        </div>
        <div class="alert5 pr" *ngIf="question.invalid && (question.dirty || question.touched || submitted)">
          <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
          <div class="textError1 left-flex pa" >
            <span *ngIf="question.errors.required"><small>Pregunta secreta requerida.</small></span> 
          </div>
        </div>
        <div class="form-item11 bb center-flex"> 
          <img class="icon iconPosition" src="assets/question.svg">
        </div>
        <div class="form-item12 bb center-flex">
          <div class="container">
            <div class="group">      
              <input  class="inputMail" type="text" formControlName="answer" required>
              <span class="highlight"></span>
              <span class="bar barMail"></span>
              <label>Respuesta secreta</label>
            </div>
          </div>
        </div>
        <div class="alert6 pr" *ngIf="answer.invalid && (answer.dirty || answer.touched || submitted)">
          <div class="IconError1 center-flex pa"> <img class="iconSmall" src="assets/alert.svg"> </div>
          <div class="textError1 left-flex pa" >
            <span *ngIf="answer.errors.required"><small>Respuesta secreta requerida.</small></span> 
          </div>
        </div>


        <!-- <input  class="inputMail" type="text" formControlName="question" required> -->
        <!-- <input  class="inputMail" type="text" formControlName="answer" required> -->




        <div class="form-item9 center-flex">
            <button class="btn btn-white">Registrarse</button>
        </div>
      </form>
    </div>

    <div class="item4"></div>
  </div>
  