@import '../../global.scss';

.headerColor{
    --background: #00000021;
}
.item1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.iconPosition{
    margin-top: 10px;
}
.container { 
    padding: 10px 20px 0 0;
}
.container .group { 
    position:relative; 
}
.inputMail{
    font-size:18px;
    padding:10px 10px 10px 0px;
    display:block;
    width:100%;
    border:none;
    background: transparent;
    /* border-bottom: solid 2px $ColorInput; */
}
.inputMail:focus{
    outline:none;
}
label{
    color: $ColorInput; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all; 
}
.inputMail:focus ~ label, .inputMail:valid ~ label{
    top:-10px;
    font-size:14px;
    color: $colorLine;
}
.bar{
    position:relative; 
    display:block;
    width:100%; 
}  
.barMail:before, .barMail:after{
    content:'';
    height:2px; 
    width:0;
    bottom:0px; 
    position:absolute;
    background:$colorLine;
    transition:0.2s ease all; 
    top:10%;
}
.bar:before {
    left:9%;
    /* background: red; */
}
.bar:after {
    right:21.5%; 
    /* background: purple; */
}
.inputMail:focus ~ .bar:before, .inputMail:focus ~ .bar:after,
.inputPassword:focus ~ .bar:before, .inputPassword:focus ~ .bar:after {
    width:100%;
}
.highlight {
    position:absolute;
    height:60%; 
    width:50%; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.2;
}
.inputMail:focus ~ .highlight,
.inputPassword:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
    from { background-color:$colorLine; }
    to 	{ width:0; background:transparent; }
}
//SOLO GRID
.grid{
    display: grid;
    grid-template-columns: 10% 11fr 10%;
    grid-template-rows: auto;
    grid-template-areas: 
        'marginL logo marginR'
        'marginL form marginR'; 
}
.grid-form{
    display: grid;
    grid-row-gap: 2px;
    grid-template-columns: 50px 83.5%;
    grid-template-areas:
        'errorIcon errorText'
        'nameIcon nameInput'
        'alert1 alert1'
        'mailIcon mailInput'
        'alert2 alert2'
        'lockIcon lockInput'
        'alert3 alert3'
        'lockIcon2 lockInput2'
        'alert4 alert4'
        'questionIcon questionInput'
        'alert5 alert5'
        'answerIcon answerInput'
        'alert6 alert6'
        'button button';
}
.alert1,
.alert2,
.alert3,
.alert4,
.alert5,
.alert6 {
    display: grid;
    grid-template-columns: 50px 83.5%;
    grid-template-areas:
        'IconError1 textError1';
}

.item0 { grid-area: marginL;}
.item1 { grid-area: logo;}
.item2 { grid-area: form;}
    .form-errorIcon{ grid-area: errorIcon;}
    .form-errorText{ grid-area: errorText;}
    .form-item1 { grid-area: nameIcon;}
    .form-item2 { grid-area: nameInput;}
    .alert1 { grid-area: alert1; padding-top: 15px;}
        .IconError1 { grid-area:IconError1; width: 100%; bottom: 0; left: 0;}
        .textError1 { grid-area:textError1; bottom: 0; left: 0;}
    .form-item3 { grid-area: mailIcon;}
    .form-item4 { grid-area: mailInput;}
    .alert2 { grid-area: alert2; padding-top: 15px;}
    .form-item5 { grid-area: lockIcon;}
    .form-item6 { grid-area: lockInput;}
    .alert3 { grid-area: alert3; padding-top: 15px;}
    .form-item7 { grid-area: lockIcon2;}
    .form-item8 { grid-area: lockInput2;}
    .alert4 { grid-area: alert4; padding-top: 15px;}
    .form-ext-item9 { grid-area: questionIcon;}
    .form-item10 { grid-area: questionInput;}
    .alert5 { grid-area: alert5; padding-top: 15px;}
    .form-item11 { grid-area: answerIcon;}
    .form-item12 { grid-area: answerInput;}
    .alert6 { grid-area: alert6; padding-top: 15px;}
    .form-item9  {grid-area: button; margin-top:20px;}



.item4 { grid-area: marginR;}


.bb {
    border-bottom: solid 2px $ColorInput;
}


.w-100 {
    width: 100%;
    height: 10px;
}



.selectStyle{
    border: none;
    height: 30px;
    background: transparent;
}
.h-20{
    height: 50px;
}
