<ion-header>
  <ion-toolbar class="headerColor">
  </ion-toolbar>
</ion-header>
<body>
    <div class="grid fondo-1">
      <div class="item0"></div>
      <div class="container-header fondo-2 h-150">
        <div class="grid-header mt-15">
            <div class="item-header1 center-flex pt-10 pb-10"><img class="w-90 m-h-50" [src]="product.image"></div>
            <div class="item-header2 center-flex fontW-600 font-size-2em pt-10 pb-10"><span class="font-color-gray">Orden</span></div>
        </div>
      </div>
      <div class="container">
        <div class="panel">
          <div class="product">
            <span class="font-color-white"><b>{{ product.name }}</b></span>
          </div>
            <div class="selectLabel-panel center-flex ">
                <span class="font-color-white">Tamaño:</span>
              </div>
          <div class="select-panel">
            <select class="selectCustom" [(ngModel)] = "size">
              <option *ngFor="let key of ObjectKeys;" [value]="key">{{product.labels[key]}}</option>
            </select>
          </div>
          <div class="inputLabel-panel center-flex ">
              <span class="font-color-white">Cantidad:</span>
            </div>
        <div class="input-panel">
          <input class="inputCustom bb-gray" type="number" min="1" placeholder="amount" [(ngModel)] = "quantity">
        </div>
        <div class="amountLabel-panel d-flex jc-end ai-center">
            <span class="font-color-white ">Total:</span>
          </div>
      <div class="amount-panel d-flex ai-center jc-center">
          <span class="font-color-white font-size-1em ">{{total}}</span>
      </div>

      <div class="button1 mt-20px center-flex btn-red cursor" (click)="close()">
          <span>Cancelar</span>

      </div> 
      <div class="button2 mt-20px center-flex btn-green cursor" (click)="add()">
          <span>Agregar</span>

      </div>
        </div>
        </div>
      </div>
      <div class="itemx"></div>
</body>
